{%extends 'template.html'%}
{%load static%}
{%block content%}


<div class="containers mt-5">
    <div class="item col-md-5">
        <div class="col-md-7 mb-5 heading-section text-center ftco-animate">
            <h2 class="mb-4">About Us</h2>
          </div>
        <p>TurboR is a platform where the system will recommend movies according to the user preferences. It was intrdouced on April 18, 2021 in Kathmandu, Nepal.It uses different algorithms and filtering techiques 
            to built the system. The system recommend the movie basis on the ratings provided by the other user to the searched movie. Since the context object in our situation is a movie, the major aim of our recommendation system is to select and determine just those 
            movies that a user might choose based on certain information about the user.Let two movies, ‘M' and ‘N,' and compare their ratings from all viewers who have rated each, based on the combination of such ratings, and  identify similar movies are dependent on this rating similarity by users who may have rated either of those. Thus, if such majority of users have rated ‘A' and ‘B' equally, and it is extremely likely 
            that ‘M' and ‘N' are identical, anyone who has seen and enjoyed ‘M' must be suggested ‘N,' and inversely. The user can get recommended movies by searching the desire movie and the system will recommend the movies thise wmovie which hass similar taste.</p>
  
    </div>
    <div class="item col-md-5" id="map">
        <h2>Our Location</h2>
        <!-- <div id="map"></div> -->
    </div>
</div>
<div class="containers">
    <section class="ftco-section bg-light">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">Our Partner</h2>
            </div>
    <div style="display:flex; flex-wrap: wrap; justify-content:center ">
        {%for rooms in team%}
    
    <div class="card m-3 p-1" style="width: 28rem;">
        <img src="{{rooms.imageURL}}" class="card-img-top" alt="...">
       
            <div class="text p-3 text-center">
                <h3 class="mb-3"><a href="rooms.html">{{rooms.name}}</a></h3>
                <p><span class="price ">Email= {{rooms.email}}</span> </p>
                <span class="per">Capacity= {{rooms.position}}</span>
                <hr>
                <p class="pt-1"><a href="https://www.facebook.com/phurbasherpa333" class="btn-custom">View Profile <span
                    class="fa fa-long-arrow-right"></span></a></p>            </div>
       
      </div>
    
      {%endfor%}
    </div>
    </section>

</div>
<script>
    // Initialize and add the map
   function initMap() {
     // The location of Uluru
     const uluru = { lat: 27.7020, lng: 85.3074 };
     // The map, centered at Uluru
     const map = new google.maps.Map(document.getElementById("map"), {
       zoom: 8,
       center: uluru,
     });
     // The marker, positioned at Uluru
     const marker = new google.maps.Marker({
       position: uluru,
       map: map,
     });
   }
 </script>
 <script
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaQhgr71rXsPCxwZyCxvPmEmzTyshSOTg&callback=initMap&libraries=&v=weekly"
 async
></script>

{%endblock content%}