{%extends 'template.html'%}
{%load static%}
{%block content%}


<div class="containerss mt-5">
  <div class="item col-md-5">
    <div class="col-md-7 mb-5 heading-section text-center ftco-animate">
      <h2 class="mb-4">About Us</h2>
    </div>
    <p>The village is located on crescent shaped mountain slopes that offer stunning views of the mountains across the
      valley. It is a grueling 3 to 4 hour climb up from the river to Namche, and at 3,500 metres, it is possible to
      suffer altitude sickness here. Therefore, it is advisable to spend at least two nights in the village to
      acclimatize.

      Traditionally the village was a trading post, with locals bartering yak cheese and butter for agricultural goods
      grown at lower altitudes. However, after Sir Edmund Hillary and Tenzing Norgay's successful climb of Everest in
      1953, the dynamics of the village changed forever as climbers and trekkers soon followed in their wake. At first
      the groups came in a trickle, but in the 60s and 70s this turned into a torrent, and being located at a confluence
      of trekking trails, Namche was best served to meet their needs. In addition, as Namche is the first place on the
      Khumbu trek that is above altitude sickness threshold, most travelers prefer to spend at least two nights here in
      order to acclimatize. Still, despite the village's popularity with trekkers, geographical restraints have
      contained its growth, and it remains a small settlement with no more than 60 dwellings.

      Namche has prospered from the tourist trade, and according to government statistics it is the wealthiest district
      in Nepal, with 7 times the average national income and twice that of the capital, Kathmandu. In addition to an
      abundance of hotels, the village also boasts three small museums, a stupa, monastery, several cafes (locally known
      as bakeries) and many well stocked stores.
  </div>

  <div class="item col-md-4"  id="map"></div>
 
 
</div>

</div>



<div class="containerss">
  <section class="ftco-section bg-light">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Our Partner</h2>
      </div>
      <div style="display:flex; flex-wrap: wrap; justify-content:center ">
        {%for rooms in team%}

        <div class="card m-3 p-1" style="width: 28rem;">
          <img src="{{rooms.imageURL}}" class="card-img-top" alt="...">

          <div class="text p-3 text-center">
            <h3 class="mb-3"><a href="rooms.html">{{rooms.name}}</a></h3>
            <p><span class="price ">Email= {{rooms.email}}</span> </p>
            <span class="per">Capacity= {{rooms.position}}</span>
            <hr>
            <p class="pt-1"><a href="https://www.facebook.com/phurbasherpa333" class="btn-custom">View Profile <span
                  class="fa fa-long-arrow-right"></span></a></p>
          </div>

        </div>

        {%endfor%}
      </div>
  </section>

</div>



{%endblock content%}