{% extends 'templates.html'%}

{%block content%}

  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(static/images/i3.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
            <div class="text mb-5 pb-3">
              <h1 class="mb-3">Welcome To Our Hotel</h1>
              <h2>Hotels &amp; Resorts</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image:url(static/images/i1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
            <div class="text mb-5 pb-3">
              <h1 class="mb-3">The sun never sets on Namche Bazar</h1>
              <h2>Join With Us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 


  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 class="mb-4">Our Services</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate" style="display:flex; flex-direction:column; justify-content:center">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-bell"></span>
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">25/7 Front Desk</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate" style="display:flex; flex-direction:column; justify-content:center">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-cutlery"></span>
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Restaurant</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate" style="display:flex; flex-direction:column; justify-content:center">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-car"></span>
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Transfer Services</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate" style="display:flex; flex-direction:column; justify-content:center">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-spa"></span>
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Spa Suites</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Rooms</h2>
          
        </div>
<div style="display:flex; flex-wrap: wrap; justify-content:center;  ">
    {%for rooms in room%}

<div class="card m-3 p-1" style="width: 28rem;">
    <img src="{{rooms.imageURL}}" class="card-img-top" style=" height:20rem" alt="...">
   
        <div class="text p-3 text-center">
            <h3 class="mb-3"><a href="#">{{rooms.name}}</a></h3>
            <p><span class="price ">Rs. {{rooms.price|floatformat:2}}</span> <span class="per">per night</span></p>
            <span class="per">Capacity= {{rooms.capacity}}</span>
            <hr>
            <p class="pt-1"><a href="#" class="btn-custom">View Room Details <span
                        class="fa fa-long-arrow-right"></span></a></p><br>
                    
        </div>
        
   
  </div>

  {%endfor%}
</div>
</section>


    <!-- Video -->

  <section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Our Nachme Bazar</h2>
      </div>
    </div>
    <div class="container mb-5">
      <div class="row ">
         
          Namche Bazaar (3,500 m) is the staging point for expeditions to Everest and other Himalayan peaks in the area.
          It has developed into a small, colorful market town selling everything from Tibetan artifacts to trekking,
          climbing equipment and everything you might need during your trip. The visitor center at park headquarters has
          detailed information on various climbs in the area, memorabilia from different mountaineering expeditions, and
          information on the lifestyle and culture of the Sherpa people.
          A historic trading hub, famous for its homemade yak cheese and butter, Namche is situated on the slope of an arch-shaped mountain, with amazing views of giant Himalayan peaks from anywhere in the valley. Despite its development, Namche Bazaar still retains its ancient culture, traditions, and heart-warming hospitality.
           
        
      </div>
    </div>
  </section>


  <section class="ftco-section ftco-counter img" id="section-counter"
    style="background-image: url(static/images/bg_1.jpg);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="50000">0</strong>
                  <span>Happy Guests</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="3000">0</strong>
                  <span>Rooms</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="1000">0</strong>
                  <span>Staffs</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center">
                <div class="text">
                  <strong class="number" data-number="100">0</strong>
                  <span>Destination</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
  
{%endblock content%} 
  