{%extends 'template.html'%}

{%block content%}





<section class="ftco-section bg-light">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Rooms</h2>
            {% if user.is_superuser%}

            <a href="{%url 'addroom'%}"><button class="btn btn-success">Add</button></a>
            {%endif%}
        </div>
<div style="display:flex; flex-wrap: wrap; justify-content:center;  ">
    {%for rooms in room%}

<div class="card m-3 p-1" style="width: 28rem;">
    <img src="{{rooms.imageURL}}" class="card-img-top" alt="...">
   
        <div class="text p-3 text-center">
            <h3 class="mb-3"><a href="rooms.html">{{rooms.name}}</a></h3>
            <p><span class="price ">Rs. {{rooms.price|floatformat:2}}</span> <span class="per">per night</span></p>
            <span class="per">Capacity= {{rooms.capacity}}</span>
            <hr>
            <p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span
                        class="fa fa-long-arrow-right"></span></a></p><br>
                        {% if user.is_superuser%}

                        <a href="{%url 'updateroom' rooms.id%}"><button class="btn btn-info">Update</button></a>
                        <a href="{%url 'deleteroom' rooms.id%}"><button class="btn btn-danger">Delete</button></a>
                        {%endif%}
        </div>
        
   
  </div>

  {%endfor%}
</div>
</section>
        {%endblock content%}