{%extends 'template.html'%}

{%block content%}

<div class="containerss">
    <div class="col-md-4 border border-success m-5" >
        <form action="" method="post" enctype="multipart/form-data">
            <div class="heading-section text-center ftco-animate">
                <h2 class="mb-4">Add Booking</h2>
            </div> 
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-success  m-2">Add</button>
        </form>
        
    </div>
</div>



{%endblock content%}