<div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 ml-auto">
            
            {% if messages%}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}" id="msg" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>

                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
